#sidebar-box {
  --uc-sidebar-width: 33px;
  --uc-sidebar-hover-width: 300px;
  --uc-autohide-sidebar-delay: 600ms;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 1;
  transition: width 0.3s ease, max-width 0.3s ease, min-width 0.3s ease;
}

#sidebar-box:hover {
  min-width: var(--uc-sidebar-hover-width) !important;
  width: var(--uc-sidebar-hover-width) !important;
  max-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

#sidebar-header {
  visibility: collapse !important;
}

#TabsToolbar {
  visibility: collapse;
}

